@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 999999;
    align-items: center;
    justify-content: center;
}

.modal-content {
    max-height: 80vh; /* El modal no debe superar el 80% de la altura de la ventana */
    overflow-y: auto;  /* Habilitar scroll vertical si el contenido es demasiado grande */
    padding: 1rem; /* Espaciado interno para mejor visibilidad */
}

/*.modal .container {
    display: flex;
    flex-flow: column;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.03);
}*/

.modal .container.zoom {
    transform: scale(0.5);
}

.modal .container.slide {
    transform: translateY(-1000px);
}

.modal .container .header {
    display: flex;
    padding: 20px;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
}

.modal .container .header h1 {
    padding: 0;
    margin: 0;
}

.modal .container .header button {
    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 4px;
    cursor: pointer;
    color: #9a9a9a;
}

.modal .container .header button:hover {
    color: #676767;
}

.modal .container .content {
    padding: 20px 15px;
    flex: 1;
}

.modal .container .content .prompt-input input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #e6e9ec;
    margin-top: 15px;
    width: 100%;
}

.modal .container .header h1 {
    @apply dark:text-white text-2xl font-bold;
}

/*.modal .container .footer {
    border-top: 1px solid #e6e9ec;
    background-color: #f9fafc;
    padding: 15px;
    display: flex;
}*/


.modal.small .container {
    width: 400px;
}

.modal.medium .container {
    width: 600px;
}

.modal.large .container {
    width: 1200px;
}

.modal.full .container {
    width: 100%;
    height: 100%;
}

.modal.open {
    display: flex;
}

.modal.open .container.zoom {
    transform: scale(1);
    transition: all 0.2s ease;
}

.modal.open .container.slide {
    transform: translateY(0);
    transition: all 0.5s ease;
}

@layer components {
    .modal .container .footer button {
        @apply text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700
    }
}

/* Main styles */
.sliding-background {
    @apply absolute top-0 bottom-0 left-0 right-0;
    background: url("./public/_g5__collage.png") repeat;
    backdrop-filter: blur(0.9);
    opacity: 0.1;
    -webkit-animation: bg-scrolling-reverse 8s infinite;
    -moz-animation: bg-scrolling-reverse 8s infinite;
    -o-animation: bg-scrolling-reverse 8s infinite;
    animation: bg-scrolling-reverse 8s infinite;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: 119px 91px;
    }
}

@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: 119px 91px;
    }
}

@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: 119px 91px;
    }
}

@keyframes bg-scrolling-reverse {
    100% {
        background-position: 119px 91px;
    }
}

@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 119px 91px;
    }
}

@-moz-keyframes bg-scrolling {
    0% {
        background-position: 119px 91px;
    }
}

@-o-keyframes bg-scrolling {
    0% {
        background-position: 119px 91px;
    }
}

@keyframes bg-scrolling {
    0% {
        background-position: 119px 91px;
    }
}

div._e__fixed {
    transition: all 0.5s ease 0s;
}

div.nav--fixed {
    @apply sticky top-0 z-50 rounded top-[8em];
}

div._settings svg {
    -webkit-transition: 0.9s ease-out;
    -moz-transition: 0.9s ease-out;
    transition: 0.9s ease-out;
}

div._settings:hover svg {
    transform: rotateZ(360deg);
}